{% extends "lobby/base.html" %}

{% block content %}
<div class="vh-100 d-flex flex-column">
    <div class="col"></div>
    <div class="overflow-auto custom-scrollbar">
        <ul class="text-light list-unstyled" id="messageList">
            {% for message in messages %}
            {% include 'lobby/message.html' %}
            {% endfor %}
        </ul>
    </div>
    <div class="border-bottom border-1"></div>
    <div class="input-group my-3">
        <input id="enteredMessage" type="text" class="form-control" placeholder="Enter your message" name="message" autocomplete="off" required>
        <button class="btn btn-primary" type="submit" id="sendMessage">
            <i class="fa-solid fa-paper-plane"></i>
        </button>
    </div>
</div>
{% endblock content %}

{% block beforebodyend %}
<script>
    var enteredMessage = document.getElementById("enteredMessage");
    var sendMessageBtn = document.getElementById("sendMessage");
    var messageList = document.getElementById("messageList");

    document.addEventListener("DOMContentLoaded", function(e) {
        var lastElementIndex = messageList.children.length - 1;
        messageList.children[lastElementIndex]?.scrollIntoView();
    })

    enteredMessage.addEventListener("keypress", function(e) {
        if (e.keyCode === 13) {
            sendMessageBtn.click();
            enteredMessage.value = "";
        }
    });

    sendMessageBtn.addEventListener("click", async function(e) {
        e.preventDefault();
        var msg = enteredMessage.value;
        url = "{% url 'add-message' %}";

        let formData = new FormData();
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        formData.append('message', msg);
        formData.append("channelId", {{ selected_channel.id }});

        var response = await fetch(url, {
            method: "POST",
            body: formData,
        });

        var body = await response.text();

        messageList.innerHTML += body;
        messageList.lastChild.scrollIntoView();
    });
</script>
{% endblock beforebodyend %}
