{% extends "lobby/base.html" %}

{% block channelbar %}{% endblock channelbar %}

{% block content %}
<div class="vh-100 d-flex flex-column overflow-auto custom-scrollbar">
    <div class="d-flex flex-wrap py-2 justify-content-start">
        {% for server in all_servers %}
        <div class="card mx-4 my-2 px-5 py-3">
             <div class="text-center">
             <img src="{{ server.logo.url }}" class="server-logo img-fluid rounded-circle" alt="{{ server.name }}">
             <div class="card-body text-bg-light">
                <h5>{{ server.name }}</h5>
                {% if server in joined_servers %}
                <button type="submit" class="join-server-btn btn btn-danger" data-chosen-server="{{ server.id }}">Leave Server</button>
                {% else %}
                <button type="submit" class="join-server-btn btn btn-primary" data-chosen-server="{{ server.id }}">Join Server</button>
                {% endif %}
                </form>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block beforebodyend %}
<script>
    document.querySelectorAll(".join-server-btn").forEach(element => {
        element.addEventListener("click", async function(e) {
            const serverId = this.getAttribute("data-chosen-server");
            const url = "{% url 'join-or-leave-server' %}";

            const formData = new FormData();
            formData.append('chosenServer', serverId);

            const response = await fetch(url, {
                method: "POST",
                body: formData,
            });
            const responseBody = await response.text();
            const statusCode = await response.status;

            if (statusCode == 204) {
                this.innerHTML = "Join server";
                this.classList.add("btn-primary");
                this.classList.remove("btn-danger");

                document.querySelector("#server-icon-" + serverId).remove();
            } else {
                document.querySelector("#add-server-btn").outerHTML =
                        responseBody + document.querySelector("#add-server-btn").outerHTML;
                this.innerHTML = "Leave server";
                this.classList.add("btn-danger");
                this.classList.remove("btn-primary");
            }
        })
    });
</script>
{% endblock beforebodyend %}
