{% extends "lobby/base.html" %}

{% block channelbar %}{% endblock channelbar %}

{% block content %}
<div class="vh-100 d-flex flex-column overflow-auto custom-scrollbar">
    <div class="d-flex flex-wrap py-2 justify-content-start">
        {% for server in all_servers %}
        <div class="card mx-4 my-2 px-5 py-3">
             <div class="text-center">
             <img src="{{ server.logo.url }}" class="server-logo img-fluid rounded-circle" alt="{{ server.name }}">
             <div class="card-body text-bg-light">
                <h5>{{ server.name }}</h5>
                <form action="{% url 'lobby-index' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="chosenServer" value="{{ server.id }}">
                    {% if server in joined_servers %}
                    <button type="submit" class="btn btn-danger">Leave Server</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Join Server</button>
                    {% endif %}
                </form>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
